[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
psycopg2-binary="*"
PyMySQL="==1.1.1"
pysqlite3="==0.5.4"
SQLAlchemy="==2.0.36"
dependency-injector="==4.44.0"
PyYAML="==6.0.2"
aiohttp="==3.11.11"
click="==8.1.8"
thalia = {file = ".", editable = true}

[dev-packages]
autopep695="==1.1.4"
pylint="==3.3.2"
flake8="==7.1.1"
pytest="==8.3.4"
black="==24.10.0"
